:root{
    --greenLight: #66D4B0;
    --greenMedium: #00A78E;
    --greenYellow: #8BC34A;
    --Dark: #1A1A1A;
    --blueLight: #66B9D4;
    --blueDark: #003E67;
    --blueMedium: #008080;
}
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ****Header section**** */
.header__container{
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: var(--Dark);
    justify-content: space-between;
    height: 60px;
    box-shadow: 0px 5px 10px rgba(102, 185, 212, 1);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    width: 20%;
}
.navbar{
    display: inline-flex;
    list-style: none;
    width: 80%;
    justify-content: flex-end;
}
.navbar__link{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
}
.navbar__link > a {
    text-decoration: none;
    color: var(--greenLight);
    font-size: 1rem;
    text-shadow: none;
    transition: color 0.3s ease, tex-shadow 0.5s ease-in-out;

}
.navbar__link > a:hover{
    color: white;
    text-shadow:0px 0px 20px rgba(102, 185, 212, 1);

}
.navbar__link > .btn{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 70%;
    height: 40px;
    background-color: var(--blueLight);
    border-radius: 5px;
    font-size: 1rem;
    
}
.navbar__link > .btn > a{
    text-decoration: none;
    color: var(--Dark);
    font-weight: 700;
}
.btn{
    margin-top: 15px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: var(--Dark);
    cursor: pointer;
    transition: 
    background-color 0.5s ease-out, 
    color 0.1s ease,
    transform 0.5s ease,
    font-size 0.3s ease;

    
}
.btn:hover{
    background-color: var(--greenLight);
    color: black;
    font-size: 20px;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(64, 224, 208, 1);    
}
/* Mobile */
@media screen and (max-width: 640px){
    /* Mobile menu */
    .navbar{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -100%;
        opacity: 0;
        transition: all 0.5 ease;
        height: 100%;
        background: #131313;
        }

    .navbar.active{
        background: #131313;
        top: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 101;
        height: 100vh;
        font-size: 1.6rem;
    }
    .navbar__toggle{
        z-index: 102;
    }
    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;

    }
    
    #mobile-menu{
        position: absolute;
        top: 10px;
        right: 15px;
        transform: translate(5%, 20%);
        cursor: pointer;

    }
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }
    #movile-menu.is-active{
        z-index: 100;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
}
.btn{
    margin-top: 15px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: var(--Dark);
    cursor: pointer;
    transition: 
    background-color 0.5s ease-out, 
    color 0.1s ease,
    transform 0.5s ease,
    font-size 0.3s ease;

    
}
.btn:hover{
    background-color: var(--greenLight);
    color: black;
    font-size: 20px;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(64, 224, 208, 1);    
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #9B59B6;
}
.wrapper{
    width: 450px;
    background: #fff;
    border-radius: 10px;

}
.wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
}
header .icons span i{
    height: 38px;
    width: 38px;
    color: #878788;
    font-size: 1.9rem;
    margin: 0 1px;
    line-height: 38px;
    border-radius:50% ;
    cursor: pointer;
    text-align: center;
    

}
header .icons span i:hover{
    background: #f2f2f2;
}
header .icons span:last-child{
    margin-right: -10px;
}
.calender{
    padding: 20px;
}
.calender ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calender .days{
    margin-bottom: 20px;
}

.calender .weeks li{
    font-weight: 500 ;
}

.calender .days li{
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}
.calender ul li{
    position: relative;
    width: calc(100%/7);
}
.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #fff;
}
.calender .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    
}

.days li:hover::before{
    background: #f2f2f2;

}

.days li.active::before{
    background: #9B59B6;
}